body{
    margin-left: 7%;
    margin-right: 7%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.header a{
    text-decoration: none;
    border: none;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    
} 

.Search{
    border-radius: 62px;
    background: #F0F0F0;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 12px;
    
    
}
 
#message{
    margin-right: 15%;
    width: 516px;;
}   

#loop{
    margin-left: 1%;
}

#connexion{
    margin-right: 1%;
}

