body{
    margin-left: 7%;
    margin-right: 7%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.header a{
    text-decoration: none;
    border: none;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    
} 

.Search{
    border-radius: 62px;
    background: #F0F0F0;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 12px;
    
    
}
 
#message{
    margin-right: 15%;
    width: 516px;;
}   

#loop{
    margin-left: 1%;
}

#connexion{
    margin-right: 1%;
}

.images{
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.images img{
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.images_vertical{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.size-selector {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.button-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
}