header {
    display: inline-flex;
    flex-direction: row; /* Change la direction de la flexbox pour placer le bouton à droite */
    align-items: center;
    gap: 908px;
    color: white;
}


header h1 {
    color: #000;
    color: color(display-p3 0 0 0);
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

header h2 {
    color: #FFF;
    display: flex;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight:900;
    line-height: normal;

}
header button {
    display: flex;
    width: 166px;
    height: 48px;
    padding: 16px 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 62px;
    background: #1F59ED;
    background: color(display-p3 0.1865 0.3428 0.08969);
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px; 
}

.comments {
    display: grid;
    place-self: center;
}

.to {

    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border: 1px solid color(display-p3 0 0 0 / 0.10);
    width: 610px;
    padding: 28px 32px;
    gap: 20px;
}

.names{
    color: #000;
    color: color(display-p3 0 0 0);
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    
}

.date {
    width: 546px;
    flex-shrink: 0;
    color: rgba(0, 0, 0, 0.60);

    color: color(display-p3 0 0 0 / 0.60);

    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 22px;

}